<!DOCTYPE html>
<html>
<head>
  <title>BolaoOficial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>
<%= link_to "Edit Profile", edit_user_registration_path 
%>
<% if current_user %>
	<% if current_user.admin? %>
		<%= link_to 'Meus Jogos', games_path %>
	<% else %>
		<%= link_to 'Meus Jogos', palpite_path %>
	<% end  %>
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
	<%= link_to "Login", new_user_session_path %>
	<% end  %>
<%= yield %>

</body>
</html>
